.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100vw - 50vw);
    width: 100%;
    align-self: center;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: initial;
}

.info>div {
    display: flex;
    gap: 0.5rem;

}

.info>div:first-child {
    color: var(--blue);
}

.info>div:last-child {
    color: var(--purple);
}

.infoNumber {
    border-radius: 50px;
    color: var(--gray-200);
    background: var(--gray-400);
    font-size: 0.75rem;
    padding: 0.125rem 0.5rem;
}

@media (max-width: 768px) {
    .content {
        max-width: calc(100vw - 6%);
    }
}
